<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chris' Fitness</title>
    <link rel="stylesheet" href="../app/static/css/style.css" />
</head>
<body>
    <header>
        <a href="index.html"><div class="logo">My Portfolio</div></a>
    
        <!-- Hamburger icon -->
        <button class="menu-toggle" aria-label="Toggle navigation menu">
          ☰
        </button>
    
        <!-- Iframe for navigation -->
        <iframe 
          src="nav.html" 
          id="nav-frame"
          title="Navigation Menu">
        </iframe>
    </header>

    <main>
        <br>
        <h1>Health & Fitness</h1>
        <p>This hasn't been started yet, but oh boy am I excited to get going once the rest of this site has been built out more!</p>
    </main>

  <!-- Link to JavaScript that toggles fullscreen nav -->
  <script src="/app/static/js/script.js"></script>
</body>
</html>