<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Chris' Website - Home</title>
  <link rel="stylesheet" href="../app/static/css/style.css" />
</head>
<body>
  <header>
    <a href="index.html"><div class="logo">My Portfolio</div></a>

    <!-- Hamburger icon -->
    <button class="menu-toggle" aria-label="Toggle navigation menu">
      ☰
    </button>

    <!-- Iframe for navigation -->
    <iframe 
      src="nav.html" 
      id="nav-frame" 
      title="Navigation Menu">
    </iframe>
  </header>

  <main>
    <br>
    <h1>Welcome to My Website</h1>
    <p>Hello, my name is Christofer Piedra and welcome to my personal website!
      <br><br>
      I will be updating this website over time with a bunch of cool things that will tell you more about what I do professionally and what kinds of projects I'm interested in.
    </p>
    <img class="profile-image" src="../app/images/christofer.jpeg" alt="Photo of me">

    <div>
      <h2>Main pages so far are:</h2>

      <a href="work-related.html" class="main-card">
        <strong>Work Related:</strong>
        Important things like my full CV, downloadable resume, recommendations from past and present coworkers, along with links to my personal GitHub and LetCode accounts. 
      </a>

      <a href="ml-projects.html" class="main-card">
        <strong>ML Projects:</strong>
        Outcomes of ML projects that I've worked on.
      </a>

      <a href="games.html" class="main-card">
        <strong>Games:</strong>
        Computer games that I've programmed like hangman.
      </a>

      <a href="health-fitness.html" class="main-card">
        <strong>Health & Fitness:</strong>
        Not started yet. Will contain long-term interactive development projects such as a workout tracker.
      </a>
    </div>
  </main>
  
  <!-- Link to JavaScript that toggles fullscreen nav -->
  <script src="/app/static/js/script.js"></script>
</body>
</html>