<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chris' Work Stuff</title>
    <link rel="stylesheet" href="../app/static/css/style.css" />
</head>
<body>
    <header>
        <a href="index.html"><div class="logo">My Portfolio</div></a>
    
        <!-- Hamburger icon -->
        <button class="menu-toggle" aria-label="Toggle navigation menu">
          ☰
        </button>
    
        <!-- Iframe for navigation -->
        <iframe 
          src="nav.html" 
          id="nav-frame" 
          title="Navigation Menu">
        </iframe>
    </header>

    <main>
        <br>
        <h1>Work Related</h1>
        <p>Here are some highlights of my career, feel free to click on anything to learn more.</p>
            <p>
                <a class="main-card" href="christofer-piedra-cv.pdf">
                    <strong>
                        CV
                    </strong>
                </a>
            </p>
                
            <p>
                <a class="main-card" href="../app/assets/christofer-piedra-resume.pdf" target="_blank">
                    <strong>
                        Resume
                    </strong>
                </a>
            </p>

            <p>
                <a class="main-card" href="reccomendations.html">
                    <strong>
                        Reccomendations
                    </strong>
                </a>
            </p>

            <p>
                <a class="main-card" href="https://www.github.com/c-hristofer" target="_blank">
                    <strong>
                        Github Profile
                    </strong>
                </a>
            </p>

            <p>
                <a class="main-card" href="https://www.leetcode.com/u/c_hristofer/" target="_blank">
                    <strong>
                        Leetcode Profile
                    </strong>
                </a>
            </p>

        </ul>
    </main>

    <!-- Link to JavaScript that toggles fullscreen nav -->
    <script src="/app/static/js/script.js"></script>
</body>
</html>